.superInput {
    border: 1.5px solid teal ;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,179,94,0.25);
    outline: none;
}

.errorInput {
    border: 1.5px solid red;
    outline: none;
    box-shadow: 0 0 5px rgba(230,9,20,0.23);
}

.error {
    color: red;
}